{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "standard"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "sort-imports": "error",
    "no-useless-constructor": "off",
    "quotes": ["error", "double"],
    "dot-notation": "off"
  }
}
