/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #201b21;
  --ifm-color-primary-dark: #1d181e;
  --ifm-color-primary-darker: #1b171c;
  --ifm-color-primary-darkest: #161317;
  --ifm-color-primary-light: #231e24;
  --ifm-color-primary-lighter: #251f26;
  --ifm-color-primary-lightest: #2a232b;
  --ifm-background-color: #fffefa;
  --ifm-footer-background-color: var(--ifm-background-color);
}

.hero {
  background-color: #fcf9e8;
  color: black;
}

[data-theme='dark'] {
  --ifm-color-primary: #fcf9e8;
  --ifm-color-primary-dark: #f6eebd;
  --ifm-color-primary-darker: #f4e8a8;
  --ifm-color-primary-darkest: #ebd768;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #201b21;
  --ifm-footer-link-color: black;
}

.footer,
.footer__copyright,
.footer__title,
.footer__link-item,
.footer__copyright > a {
  background-color: var(--ifm-font-color-base-inverse);
  color: var(--ifm-font-color-base);
}

.clean-btn.close {
  color: var(--ifm-font-color-base);
}
